<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hdu.newe.here">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取设备网络状态，禁用后无法获取网络状态,获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络权限，当禁用后，无法进行检索等相关业务 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取设备硬件信息，统计数据,读取手机当前的状态 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取设备的网络状态，鉴权所需网络代理,用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许sd卡写权限，需写入地图数据，禁用后无法显示地图,用于写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 获取统计数据 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 鉴权所需该权限获取进程列表 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 使用步行AR导航，配置Camera权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kHGlzyEtStUmGSPeGrKcdIKqitIYPFeL" />

        <activity
            android:name=".page.main.MainActivity"
            android:theme="@style/AppTheme.NoTitle.SplashScreen"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.main.leaverequest.LeaveRequestActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".page.main.login.LoginActivity"></activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity android:name=".page.main.profile.PersonalInfoActivity"></activity>
    </application>

</manifest>